In [22]:
#read dataset_15000_generated.csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Read the dataset
df = pd.read_csv('./dataset15000_generated.csv')

In [23]:
#pick in the dataframe only the rows that contain "True,True,True,True" in the columns "req_1", "req_2", "req_3", "req_4"
all_true = df[(df['req_0'] == True) & (df['req_1'] == True) & (df['req_2'] == True) & (df['req_3'] == True)]
all_false = df[(df['req_0'] == False) & (df['req_1'] == False) & (df['req_2'] == False) & (df['req_3'] == False)]
#cut the all_false dataframe to have the same number of rows as all_true
all_false = all_false.sample(n=len(all_true), random_state=42)

In [24]:
#create a new dataframe with all_true and all_false shuffled
new_df = pd.concat([all_true, all_false]).sample(frac=1, random_state=42).reset_index(drop=True)

In [25]:
new_df.head()

,cruise speed,image resolution,illuminance,controls responsiveness,power,smoke intensity,obstacle size,obstacle distance,firm obstacle,req_0,req_1,req_2,req_3
0,22.8428,69.8406,25.3046,56.7951,81.0,32.6096,74.1027,42.3448,1.0,True,True,True,True
1,21.7642,59.3833,99.4283,89.0367,65.0,27.5778,13.5602,56.2711,0.0,True,True,True,True
2,76.7104,81.6870,59.1878,42.6918,58.0,65.4104,67.1406,42.9376,1.0,True,True,True,True
3,21.0911,93.1458,55.8481,28.0944,71.0,95.9660,20.8092,57.9779,1.0,False,False,False,False
4,90.9777,54.3420,10.3500,67.0115,44.0,79.8326,85.9162,73.8506,1.0,False,False,False,False

In [7]:
#export  it in csv file
new_df.to_csv('./new_dataset.csv', index=False)

In [26]:
#pick in the dataframe only the rows that contain "True,True,True,True" in the columns "req_1", "req_2", "req_3", "req_4"
one_true = df[(df['req_1'] == True)]
one_false = df[(df['req_1'] == False)]

In [27]:
#cut the all_false dataframe to have the same number of rows as all_true
one_false = one_false.sample(n=len(one_true), random_state=42)
#remove from all_true the rows that are in one_true
all_true = all_true[~all_true.index.isin(one_true.index)]
#create a new dataframe with all_true and all_false shuffled
new_df = pd.concat([one_true, one_false, all_true]).sample(frac=1, random_state=42).reset_index(drop=True)

In [28]:
new_df.head()

,cruise speed,image resolution,illuminance,controls responsiveness,power,smoke intensity,obstacle size,obstacle distance,firm obstacle,req_0,req_1,req_2,req_3
0,76.4029,64.9686,76.2210,42.5090,61.0,28.6325,26.3474,89.3649,1.0,True,False,True,True
1,43.2692,18.9834,38.7436,3.8321,98.0,94.2947,12.6799,81.1694,1.0,False,False,False,False
2,4.2712,50.0694,89.8495,87.9047,81.0,42.3261,30.8060,67.2420,0.0,False,True,True,False
3,0.3489,55.0517,64.8074,48.9598,48.0,68.8873,97.1273,59.1364,0.0,False,True,False,False
4,97.9504,97.8552,72.6213,17.7372,37.0,88.6714,50.1663,59.9919,0.0,False,False,False,False

In [ ]:
#export  it in csv file
new_df.to_csv('./new_dataset.csv', index=False)

In [ ]:
#count true and false in each column
print(new_df['req_0'].value_counts())
print(new_df['req_1'].value_counts())
print(new_df['req_2'].value_counts())
print(new_df['req_3'].value_counts())

#count the number of rows for which all the req_0, req_1, req_2, req_3 are False
print(len(new_df[(new_df['req_0'] == False) & (new_df['req_1'] == False) & (new_df['req_2'] == False) & (new_df['req_3'] == False)]))

False    2309
True     1439
Name: req_0, dtype: int64
False    1874
True     1874
Name: req_1, dtype: int64
False    2971
True      777
Name: req_2, dtype: int64
False    2713
True     1035
Name: req_3, dtype: int64
1215

In [33]:
#remove 1000 rows that contain all the req_0, req_1, req_2, req_3 are False
new_df = new_df.drop(new_df[(new_df['req_0'] == False) & (new_df['req_1'] == False) & (new_df['req_2'] == False) & (new_df['req_3'] == False)].index[:1000])

In [34]:
#count the number of True and False in the all columns
print(new_df['req_0'].value_counts())
print(new_df['req_1'].value_counts())
print(new_df['req_2'].value_counts())
print(new_df['req_3'].value_counts())

True     1439
False    1309
Name: req_0, dtype: int64
True     1874
False     874
Name: req_1, dtype: int64
False    1971
True      777
Name: req_2, dtype: int64
False    1713
True     1035
Name: req_3, dtype: int64

In [35]:
new_df.to_csv('./new_dataset.csv', index=False)